<!DOCTYPE html>
<html lang="ko"  xmlns:th="http://www.thymeleaf.org">
<head xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/user/join.css"/>
</head>
<body>
    <div class="signup-container">
        <h1>회원가입</h1>
        <form th:action="@{/join}" th:method="post" th:object="${joinDto}">
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" th:field="*{email}" required>
                <button type="button" class="btn btn-secondary mt-2" onclick="checkId()">중복확인</button>
                <span class="id_ok">사용 가능한 이메일 입니다.</span>
                <span class="id_already">사용중인 이메일 입니다.</span>
                <span class="not_email">올바른 이메일을 입력하여 주세요.</span>
            </div>
            <div class="form-group">
                <label for="real_password">비밀번호</label>
                <input type="password" class="form-control" id="real_password" th:field="*{real_password}" required>
            </div>
            <div class="form-group">
                <label for="check_password">비밀번호확인</label>
                <input type="password" class="form-control" id="check_password" th:field="*{check_password}" required>
            </div>
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="name" th:field="*{name}" required>
            </div>
            <div class="form-group">
                <label for="age">Age:</label>
                <input type="number" class="form-control" id="age" th:field="*{age}" required>
            </div>
            <button type="submit" class="btn btn-primary">가입하기</button>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script>
        $(document).ready(function() {
            let message = "[[${msg}]]";
            if (message != "") {
                alert(message);
            }
        });

        function checkId() {
            var email = $('#email').val();
            $.ajax({
                url: './emailCheck',
                type: 'post',
                data: {email: email},
                success: function(cnt) {
                    if (cnt == 0) {
                        $('.id_ok').css("display", "inline-block");
                        $('.id_already').css("display", "none");
                        $('.not_email').css("display", "none");
                    } else if (cnt == 1) {
                        $('.id_ok').css("display", "none");
                        $('.id_already').css("display", "inline-block");
                        $('.not_email').css("display", "none");
                    } else {
                        $('.id_ok').css("display", "none");
                        $('.id_already').css("display", "none");
                        $('.not_email').css("display", "inline-block");
                    }
                },
                error: function() {
                    alert("에러입니다");
                }
            });
        }
    </script>
</body>
</html>
