<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">
<th:block layout:fragment="content">
    <div th:text="${storeDto.storeName}"></div>
    <div th:text="${storeDto.storeId}"></div>



    <div th:each = "imageUrl : ${storeDto.storeImageUrlList}">
        <img th:src="${imageUrl}" class="img-fluid"  width="200px" height ="120px">
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</th:block>
</html>