<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">
<th:block layout:fragment="content">
    <link rel="stylesheet" href="/user/home.css"/>

    <div class="container-fluid text-center head-container" style="width: 100%;">
        <div class="row d-flex justify-content-center" style="width: 100%;">
            <div class="col-3 d-flex align-items-center justify-content-start">
                <div id="store-list"></div>
            </div>
            <div class = "col d-flex align-items-center justify-content-center" id="map" style="width: 100%; height: 800px;"></div>
        </div>
    </div>

    <!-- 네이버 지도 API 스크립트 -->
    <script type="text/javascript" th:src="@{|https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=${naverMapClientId}&callback=initMap|}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/user/map.js}"></script>
    <script>
    $(document).ready(function() {
        let message = "[[${logoutMessage}]]";
        if (message != "") {
            alert(message);
        }
    });
    </script>
</th:block>
</html>